li.item-list-comp {
    line-height: 21px;
    margin-bottom: 15px;
    font-size: 14px;
}

li.item-list-comp span {
    font-weight: 700;
    display: block;
}
div#logo a img {
    width: 88px;
    border-radius: 80%;
    height: auto;
}
div#profile {
    margin: 0 auto;
    width: 1200px !important;
    max-width: 100%;
}